.censuable {
  font-size: 16px;
  float: left;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: italic;
}
.censuable > a {
  color: #000;
  text-decoration: underline;
}
.censuable-tab {
  font-size: 12px;
  float: left;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: italic;
}
.censuable-tab > a {
  color: #000;
  text-decoration: underline;
}
.icon-close {
  float: right;
  color: gray;
  margin-right: 30px;
  font-size: 1.5rem;
  cursor: pointer;
}
.icon-expand {
  float: right;
  color: gray;
  font-size: 1.5rem;
  cursor: pointer;
}
.survey-bg {
  background-color: #474747;
  padding-top: 1px;
  padding-bottom: 116px;
}

.main-box {
  max-width: 900px;
  min-width: 900px;
  height: 540px;
  padding-bottom: 37px;
  display: block;
  margin: 0 auto;
}
.MuiBox-root-6 {
  margin-top: 0px !important;
}
.main-box-tab {
  max-width: 550px;
  min-width: 550px;
  /* height: 450px; */
  position: fixed;
  bottom: 0;
  left: 0;
}
.progress {
  display: block;
  margin: 0 auto;
  width: 85%;
  background: #d6d6d6;
  border-radius: 6px !important;
  height: 16px;
}
.progress-tab {
  display: block;
  margin: 0 auto;
  width: 100%;
  background: #d6d6d6;
  border-radius: 6px !important;
  height: 10px;
}
.question-number {
  float: left;
  width: 100%;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  margin-bottom: 5px;
}
.question-number-tab {
  float: left;
  width: 100%;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
}
.progress-bar {
  background: #8e8e8e !important;
  height: 16px;
}
.next-btn {
  float: right;
  width: 20%;
  padding: 12px !important;
  margin-top: 20px !important;
  font-family: "Poppins", sans-serif !important;
  font-weight: 800 !important;
  letter-spacing: 1px !important;
  background-color: #114b78 !important;
}
.next-btn-tab {
  float: right;
  width: 20%;
  padding: 15px !important;
  margin-top: 20px !important;
  font-family: "Poppins", sans-serif !important;
  font-weight: 800 !important;
  letter-spacing: 1px !important;
  background-color: #114b78 !important;
}
.prev-btn {
  float: left;
  width: 20%;
  padding: 12px !important;
  margin-top: 20px !important;
  font-family: "Poppins", sans-serif !important;
  font-weight: 800 !important;
  letter-spacing: 1px !important;
  background-color: #114b78;
}
.prev-btn-tab {
  float: left;
  width: 20%;
  padding: 15px !important;
  margin-top: 20px !important;
  font-family: "Poppins", sans-serif !important;
  font-weight: 800 !important;
  letter-spacing: 1px !important;
  background-color: #114b78;
}
.next-btn2 {
  display: block !important;
  margin: 0 auto !important;
  width: 20%;
  padding: 15px !important;
  margin-top: 80px !important;
  font-family: "Poppins", sans-serif !important;
  font-weight: 800 !important;
  letter-spacing: 1px !important;
  background-color: #114b78;
}
.next-btn2-tab {
  display: block !important;
  margin: 0 auto !important;
  width: 20%;
  padding: 15px !important;
  margin-top: 80px !important;
  font-family: "Poppins", sans-serif !important;
  font-weight: 800 !important;
  letter-spacing: 1px !important;
  background-color: #114b78;
}
.next-btn2-tab2 {
  position: relative;
  right: 160px;
}
.MuiButton-containedPrimary {
  background-color: #114b78 !important;
}
.images-survey {
  margin-left: 34px !important;
  margin-right: 34px !important;
  margin-bottom: 30px;
  margin-top: 0 !important;
  cursor: pointer;
}
.images-survey-tab {
  margin-left: 20px !important;
  margin-right: 20px !important;
  margin-bottom: 30px;
  margin-top: 15px !important;
  cursor: pointer;
}
.questions {
  border: 1px solid;
  cursor: pointer;
  height: 55px !important;
}
.questions > p {
  font-family: "Poppins", sans-serif !important;
  padding-top: 0px;
  font-weight: 800;
  cursor: pointer;
}
.questions-tab {
  border: 1px solid;
  width: 100% !important;
  cursor: pointer;
}
.questions-tab > p {
  font-family: "Poppins", sans-serif !important;
  padding-top: 0px;
  font-weight: 800;
  font-size: 14px !important;
  cursor: pointer;
}
.worst {
  font-family: "Poppins", sans-serif !important;
  font-weight: bolder;
  position: relative;
  top: 175px;
  font-size: 20px;
}
.worst-tab {
  font-family: "Poppins", sans-serif !important;
  font-weight: bolder;
  position: relative;
  top: 90px;
}
.best {
  font-family: "Poppins", sans-serif !important;
  font-weight: bolder;
  position: absolute;
  top: 470px;
  right: 190px;
}
.worst-stars {
  top: 350px;
  left: -174px;
}
.best-stars {
  top: 428px !important;
  right: 246px !important;
  font-size: 20px;
}
.best-stars-tab {
  top: 305px !important;
  right: 54px !important;
  font-size: 16px !important;
}
.suggestion-box {
  float: left;
  width: 100%;
  margin-top: 0px;
  height: 250px;
  border: 1px solid #d6d6d6;
  padding: 10px;
  font-family: "Poppins", sans-serif !important;
  font-weight: 900;
  border-radius: 10px;
  font-size: 24px;
  margin-bottom: 50px;
}
.suggestion-box-tab {
  float: left;
  width: 100%;
  margin-top: 50px;
  height: 210px;
  border: 1px solid #d6d6d6;
  padding: 10px;
  font-family: "Poppins", sans-serif !important;
  font-weight: 900;
  border-radius: 10px;
  font-size: 24px;
  margin-bottom: 20px;
}
.question-text {
  margin-top: 10px;
  font-size: 40px;
  font-family: "Poppins", sans-serif !important;
  font-weight: 600;
  text-align: center;
  letter-spacing: 2px;
  margin-bottom: 0px;
}
.question-text-tab {
  margin-top: 30px;
  font-size: 24px;
  font-family: "Poppins", sans-serif !important;
  font-weight: 600;
  text-align: center;
  letter-spacing: 2px;
  margin-bottom: 20px;
}
.feedback-image {
  float: left;
  width: 100%;
  display: block;
  margin: 0 auto;
  margin-top: 50px;
}
.submit-btn {
  width: 20%;
  padding: 15px !important;
  display: block !important;
  margin: 0 auto !important;
  margin-top: 40px !important;
  font-family: "Poppins", sans-serif !important;
  font-weight: 800 !important;
  letter-spacing: 1px !important;
}
.feedback-box {
  float: left;
  width: 100%;
  margin-top: 10px;
  height: 250px;
  border: 1px solid #d6d6d6;
  padding: 10px;
  font-family: "Poppins", sans-serif !important;
  font-weight: 900;
  border-radius: 10px;
  font-size: 24px;
  margin-bottom: 25px;
}
.feedback-box-tab {
  float: left;
  width: 100%;
  margin-top: 10px;
  height: 200px;
  border: 1px solid #d6d6d6;
  padding: 10px;
  font-family: "Poppins", sans-serif !important;
  font-weight: 900;
  border-radius: 10px;
  font-size: 15px;
  margin-bottom: 50px;
}
.feedback-text {
  background-image: url(./Assets/Images/feedback-bg.png);
  color: #fff;
  border-radius: 6px;
  background-size: 100% 100%;
  padding: 17px 0;
  margin-top: 70px;
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-size: 35px;
}
.feedback-text-tab {
  background-image: url(./Assets/Images/feedback-bg.png);
  color: #fff;
  border-radius: 6px;
  background-size: 100% 100%;
  padding: 17px 0;
  margin-top: 70px;
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-size: 25px;
}
.feedbackbg {
  text-align: center;
}
.survey-btn {
  font-family: "Poppins", sans-serif !important;
  font-weight: 900 !important;
  font-size: 20px !important;
  margin-top: 200px !important;
  border-radius: 3px !important;
  padding: 15px !important;
  background-color: #fff !important;
  color: #000 !important;
  padding-left: 10px !important;
  text-transform: capitalize !important;
}
.down-arrow {
  font-size: 2rem;
  margin-left: 28px;
}
.MuiButton-contained.Mui-disabled {
  background-color: #d6d6d6 !important;
}
.take-survey {
  position: fixed;
  left: 0;
  bottom: 0;
}
.loading-icon {
  width: 25%;
  display: block;
  margin: 0 auto;
  margin-top: 120px;
  padding-bottom: 180px;
}
.stars-image {
  width: 15%;
  margin-right: 59px;
  margin-top: 60px;
  float: left;
}
.stars-image-tab {
  width: 15% !important;
  margin-right: 0px !important;
  margin-left: 18px !important;
  margin-top: 0px !important;
  float: left !important;
  margin-bottom: 50px !important;
}
.star1 {
  height: 0;
}
.star1-tab {
  margin-bottom: -40px;
}
.heart-image {
  width: 15%;
  margin-right: 20px;
  margin-left: 20px;
  margin-top: 30px;
  float: left;
  margin-bottom: 100px;
}
.heart-image-tab {
  width: 15%;
  margin-right: 12px;
  margin-left: 12px;
  margin-top: 10px;
  float: left;
  margin-bottom: 60px;
}
.heart1-tab {
  margin-bottom: -40px;
}
.heart1 {
  height: 0;
}
.best-tab {
  font-family: "Poppins", sans-serif !important;
  font-weight: bolder;
  position: relative;
  top: -40px;
  left: 405px;
}
.ring-text {
  font-weight: 600;
  font-size: 12px;
  text-align: center;
  margin-top: 20px;
  width: 100%;
}
.ring-text-tab {
  font-size: 11px;
  text-align: center;
  margin-top: 50px;
  margin-left: -33px;
}
.ring-image {
  margin-right: 13px;
  margin-left: 13px;
  margin-bottom: 60px;
  float: left;
}
.ring-image-tab {
  margin-right: -24px;
  margin-left: -5px;
  margin-bottom: 60px;
  float: left;
  width: 75%;
}
.worst-heart {
  top: 200px;
}
.best-heart {
  font-size: 20px;
  top: 405px;
  right: 290px;
}
.circle {
  stroke: #00ff00 !important;
}
.tick {
  stroke: #00ff00 !important;
}
.thankyou-tick-tab {
  margin-top: 100px;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  margin-bottom: 100px;
}
.thankyou-tick {
  margin-top: 200px;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-weight: 900;
}
